div.language-header {
	width: 1000px;
	height: 25px;
	text-align:right;
}
div.language-header img {
	height: 30px;
	width: 30px;
	margin-left: 10px; 
}
div.header {
	width: 1000px;
}
div.header img {
	float: left;
	height: 50px;
	width: 80px;
}
div.header div.logo {
	float: left;
	height: 50px;
	width: 300px; /* Ширина слоя */
	margin: 7px; /* Значение отступов */
	padding: 5px; /* Поля вокруг текста */
	border: 2px hiden;
	cursor: pointer;
	background: #666
}
div.header div.logo a {
	margin-left: 15px;
	margin-top: 15px;
	
}
div.nav {
	text-align: right;
}
button.header {
 	margin-top: 25px;
  	background: white;
  	color: black;
  	border-style: dotted;
  	cursor: pointer;
  	margin-right: -7px;
}
div.none {

}